.client-cards {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

container{
  position: relative;
}

.container .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F6AC64;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}
h5 {
  color: rgb(216, 216, 216);
}
.container .card:after{
  content: '';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover{
  background: #9bdc28;
}

.container .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}
container{
  position: relative;
}

.container-1 .card-1{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
}

.container-1 .card-1:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(183, 183, 183);
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container-1 .card-1:hover:before{
  clip-path: circle(300px at 80% -20%);
}
h5 {
  color: rgb(216, 216, 216);
}
.container-1 .card-1:after{
  content: '';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container-1 .card-1 .imgBx-1{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 280px;
  transition: 0.5s;
}

.container-1 .card-1:hover .imgBx-1{
  top: 0%;
  transform: translateY(0%);
    
}

.container-1 .card-1 .imgBx-1 img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
}

.container-1 .card-1 .contentBx-1{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container-1 .card-1:hover .contentBx-1{
  height: 210px;
}

.container-1 .card-1 .contentBx-1 h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container-1 .card-1 .contentBx-1 .size-1, .container-1 .card-1 .contentBx-1 .color-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container-1 .card-1:hover .contentBx-1 .size-1{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container-1 .card-1:hover .contentBx-1 .color-1{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container-1 .card-1 .contentBx-1 .size-1 h3, .container-1 .card-1 .contentBx-1 .color-1 h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container-1 .card-1 .contentBx-1 .size-1 span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container-1 .card-1 .contentBx-1 .size-1 span:hover{
  background: #9bdc28;
}

.container-1 .card-1 .contentBx-1 .color-1 span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container-1 .card-1 .contentBx-1 .color-1 span:nth-child(2){
  background: #9bdc28;
}

.container-1 .card-1 .contentBx-1 .color-1 span:nth-child(3){
  background: #03a9f4;
}

.container-1 .card-1 .contentBx-1 .color-1 span:nth-child(4){
  background: #e91e63;
}

.container-1 .card-1 .contentBx-1 a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container-1 .card-1:hover .contentBx-1 a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}


container{
  position: relative;
}

.container-2 .card-2{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
}

.container-2 .card-2:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8198FF;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container-2 .card-2:hover:before{
  clip-path: circle(300px at 80% -20%);
}
h5 {
  color: rgb(216, 216, 216);
}
.container-2 .card-2:after{
  content: '';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container-2 .card-2 .imgBx-2{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container-2 .card-2:hover .imgBx-2{
  top: 0%;
  transform: translateY(0%);
    
}

.container-2 .card-2 .imgBx-2 img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 200px;
}

.container-2 .card-2 .contentBx-2{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container-2 .card-2:hover .contentBx-2{
  height: 210px;
}

.container-2 .card-2 .contentBx-2 h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container-2 .card-2 .contentBx-2 .size-2, .container-2 .card-2 .contentBx-2 .color-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container-2 .card-2:hover .contentBx-2 .size-2{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container-2 .card-2:hover .contentBx-2 .color-2{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container-2 .card-2 .contentBx-2 .size-2 h3, .container-2 .card-2 .contentBx-2 .color-2 h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container-2 .card-2 .contentBx-2 .size-2 span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container-2 .card-2 .contentBx-2 .size-2 span:hover{
  background: #9bdc28;
}

.container-2 .card-2 .contentBx-2 .color-2 span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container-2 .card-2 .contentBx-2 .color-2 span:nth-child(2){
  background: #9bdc28;
}

.container-2 .card-2 .contentBx-2 .color-2 span:nth-child(3){
  background: #03a9f4;
}

.container-2 .card-2 .contentBx-2 .color-2 span:nth-child(4){
  background: #e91e63;
}

.container-2 .card-2 .contentBx-2 a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container-2 .card-2:hover .contentBx-2 a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}
