body {
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  font-family: 'Inter', sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
}
.nav-loto {
  width: 35%;
}
.nav-btns-right {
  display: flex;
  font-weight: 600;
}
.projects-btn {
  padding: 5px;
}
.contact-btn {
  padding: 5px;
}
.hero {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero-header {
  font-size: 2.9em;
}
.hero-annotation-1 {
  font-size: 25px;
}
.hero-annotation-2 {
  font-size: 12px;
}
.lotodigital {
  width: 45%
}
.footer {
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-loto {
  width: 10%;
}
.insta-icon {
  padding: 5px;
}
.twitter-icon {
  padding: 5px;
}
